<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superai.system.mapper.WxUserMoneyLogMapper">
    
    <resultMap type="WxUserMoneyLog" id="WxUserMoneyLogResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="moneyFrom"    column="money_from"    />
        <result property="moneyTo"    column="money_to"    />
        <result property="money"    column="money"    />
        <result property="description"    column="description"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectWxUserMoneyLogVo">
        select id, user_id, money_from, money_to, money, description, create_by, create_time, update_by, update_time from wx_user_money_log
    </sql>

    <select id="selectWxUserMoneyLogList" parameterType="WxUserMoneyLog" resultMap="WxUserMoneyLogResult">
        <include refid="selectWxUserMoneyLogVo"/>
        <where>  
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="moneyFrom != null  and moneyFrom != ''"> and money_from = #{moneyFrom}</if>
            <if test="moneyTo != null  and moneyTo != ''"> and money_to = #{moneyTo}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>
    
    <select id="selectWxUserMoneyLogById" parameterType="String" resultMap="WxUserMoneyLogResult">
        <include refid="selectWxUserMoneyLogVo"/>
        where id = #{id}
    </select>
    <select id="listMoneyLog" resultType="com.superai.common.core.domain.vo.WxUserPointAndMoneyLogVO">
        SELECT create_time AS time,
        money AS value,
        description
        FROM wx_user_money_log
        WHERE user_id = #{param.userId}
        <if test="param.beginDate!=null and param.endDate!=null">
            AND (create_time BETWEEN #{param.beginDate} AND DATE_ADD(#{param.endDate}, INTERVAL 1 DAY ))
        </if>
        ORDER BY create_time DESC
    </select>

    <insert id="insertWxUserMoneyLog" parameterType="WxUserMoneyLog">
        insert into wx_user_money_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="moneyFrom != null">money_from,</if>
            <if test="moneyTo != null">money_to,</if>
            <if test="money != null">money,</if>
            <if test="description != null">description,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="moneyFrom != null">#{moneyFrom},</if>
            <if test="moneyTo != null">#{moneyTo},</if>
            <if test="money != null">#{money},</if>
            <if test="description != null">#{description},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateWxUserMoneyLog" parameterType="WxUserMoneyLog">
        update wx_user_money_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="moneyFrom != null">money_from = #{moneyFrom},</if>
            <if test="moneyTo != null">money_to = #{moneyTo},</if>
            <if test="money != null">money = #{money},</if>
            <if test="description != null">description = #{description},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxUserMoneyLogById" parameterType="String">
        delete from wx_user_money_log where id = #{id}
    </delete>

    <delete id="deleteWxUserMoneyLogByIds" parameterType="String">
        delete from wx_user_money_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>